<div class="row well">

    <ul class="list-unstyled">
        <li class="col-sm-10">
            <ul class="list-inline">
                <li>
                    <h5><a href="#/">Home</a></h5>
                </li>

                <li>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </li>
                <li>
                    <h5><a href="#/search">Category Title</a></h5>
                </li>
                <li>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </li>
                <li>
                    <span class="active">{{ ctrl.product.title }}</span>
                </li>
            </ul>
        </li>
    </ul>

    <div class="col-xs-12 col-sm-2">
        <button ng-hide="ctrl.isSearchFormShown" ng-click="ctrl.isSearchFormShown = true" class="btn btn-default btn-block btn-primary">Find more</button>
        <button ng-show="ctrl.isSearchFormShown" ng-click="ctrl.isSearchFormShown = false" class="close" aria-hidden="true">&times;</button>
    </div>

    <auction-search-form ng-show="ctrl.isSearchFormShown"></auction-search-form>

</div>

<br/>

<div class="row">
    <div class="col-sm-6 col-lg-5 text-center">
        <auction-product-gallery></auction-product-gallery>
    </div>

    <div class="col-sm-6 col-lg-7">
        <auction-product-properties></auction-product-properties>
    </div>
</div>